* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 725px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .port .imageBanner {
        width: 100%;
        display: none;
    }
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #090E34;
    color: white;
    height: 10vh;
}

header ul {
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

header li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

header img {
    margin-left: 10vw;
    width: 120px;
    height: 30px;
}

.banner {
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(133,133,236,1) 100%);
}

.port {
    margin-left: 10vw;
    width: 45vw;
}

.port h3 {
    font-size: 1.3vw;
    margin-bottom: 2.5vh;
    color: rgb(46, 46, 240);
}

.port h2 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-right: 13vw;
    margin-bottom: 2.5vh;
}

.port p {
    font-weight: 400;
    font-size: 1.2vw;
    margin-bottom: 2.5vh;
}

button {
    padding: 1vw;
    color: white;
    background-color: rgb(46, 46, 240);
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
}

.imageBanner img {
    width: 30vw;
    padding-left: 3vw;
}
